{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "semi": ["error", "never"],
    "func-names": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "no-return-assign": 0,
    "no-cond-assign": 0,
    "no-unused-expressions": 0,
    "no-plusplus": 0,
    "no-constant-condition": 0,
    "strict": 0,
    "no-restricted-syntax": 0,
    "no-multi-assign": 0,
    "max-len": 0,
    "no-bitwise": 0,
    "no-mixed-operators": 0
  }
}
